<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['']" >PROJETO DE ROTAS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
          <a class="nav-link" [routerLink]="['/cursos']" [queryParams]="{pagina:1}" routerLinkActive="active">Cursos</a>
          <!-- <a class="nav-link" [routerLink]="['curso', idCurso.value]" routerLinkActive="active">Curso com ID</a> -->
          <a class="nav-link" [routerLink]="['alunos']" routerLinkActive="active">Alunos</a>
        </div>
      </div>
    </div>
  </nav>
<div class="container">
    <!-- <p>Digite o ID do curso</p>
    <input type="text" #idCurso> -->
    <router-outlet></router-outlet>
</div>